body {
    background:url('./Images/background-sun.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    color: white;
    text-shadow: 1px -1px 20px   black;
}
*{
    font-family:Arial, Helvetica, sans-serif;
}
.containerForm{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
input{
    height: 35px;
    width: 250px;
    border-radius: 5px; 
    margin-right: 10px;
    font-weight: bold;
    font-size: 18px;
    padding: 3px 0 3px 10px;
    background-color: rgba(255, 255, 255, 0.5);
}
button{
    height: 44px;
    width: 44px;
    vertical-align:bottom;
    background-image: url('./Images/icons8-search-48.png');
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: center;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5); 
}

.container {
    display: flex;
    margin-top: 100px;
    /* background-color: red; */
    height: 500px;
    flex-direction: column;
}
#containerLoc{
    display: flex;
    /* background-color: aqua; */
    justify-content: center;
}
#loc{
    /* background-color: blue; */
    margin-top: 10px;
    font-size: 70px;
    font-weight: bold;
}
.containerDegrees{
    background-color: blueviolet;
    display: flex;
    margin-top: 50px;
    justify-content:center;
    align-items: center;
    gap: 100px;
}
#degrees{
    /* background-color: chartreuse; */
    font-size: 70px;
}
#iconApp{
    /* background-color: rgb(47, 225, 184); */
    width: 140px;
    height: 140px;
    background-image: url('./Images/icons8-sun-96.png');
    background-repeat: no-repeat;
    background-position: center;
}
.dataAndTime {
    font-weight: bold;
    font-size: 45px;
    align-self: center;
    order: -1;
}
.containerWindHumidity{
    margin-top: 70px;
    font-size: 20px;
    /* background-color: chartreuse;  */
    display: flex; 
    justify-content: center; 
    gap: 70px; 
    font-size: 25px;
    font-weight: bold;
} 
